:root {
	background: rgba(39, 39, 39, 1);
	color: rgba(255, 255, 255, 1);
}

html {
	scroll-behavior: smooth;
}

html,
body {
	max-width: 100vw;
	font-family: var(--font-main);
}

img,
svg {
	image-rendering: crisp-edges;
}

@import "./base/reset.scss";

@import "./blocks/meetScreen";
@import "./blocks/carFleet";
@import "./blocks/driverFleet";
@import "./blocks/information";
@import "./blocks/contacts";
@import "./blocks/map";
@import "./blocks/documents";
@import "./blocks/faq";
@import "./blocks/loading";
