.header {
	width: 100%;
	padding: 20px 40px;
	background: linear-gradient(
		135.25deg,
		rgba(26.520008087158203, 165.75, 32.089202880859375, 1),
		rgba(14.279998779296875, 89.25, 17.27879524230957, 1) 100%
	);

	display: flex;
	justify-content: space-between;
	align-items: center;

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 20px;

		img {
			width: 70px;
			height: 70px;
		}

		&-name {
			font-size: 42px;
			font-weight: 700;
			letter-spacing: 1.5px;
		}
	}

	nav ul {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 32px;

		li > a {
			font-size: 20px;
			font-weight: 700;
			letter-spacing: 1.2px;
			transition: color 0.1s linear;

			&:hover {
				color: rgba(255, 253, 41, 1);
			}
		}
	}

	&__contacts {
		font-size: 30px;
		font-weight: 700;
		color: rgba(255, 253, 41, 1);
	}
}
