*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
	border: none;
	background: none;
	outline: none;
}

button {
	cursor: pointer;
	border: none;
	background: none;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

:focus:not(:focus-visible) {
	outline: none;
}

:focus-visible {
	outline: 2px solid #0070f3;
	outline-offset: 2px;
}

details > summary {
	list-style: none;
}
details > summary::-webkit-details-marker {
	display: none;
}
